block content
	.comments
		if(commentArr)
			p hi
			//- p.lead Comments
			//- - for (var i = 0; i < comments.length; i++)
			//- 	.comment-info
			//- 		span By: #{comments[i].name}
			//- 		time Time: #{comments[i].time}
			//- 	p= comments[i].body
			//- 	hr
			//- p.lead Comments
			//- - for (var i = 0; i < commentArr.comments.length; i++)
			//- 	.comment-info
			//- 		span By: #{commentArr.comments[i].name}
			//- 		time Time: #{commentArr.comments[i].time}
			//- 	p= commentArr.comments[i].body
			//- 	hr
		else
			p hello
			//- p.lead Comments
			//- - for (var i = 0; i < commentArr.comments.length; i++)
			//- 	.comment-info
			//- 		span By: #{commentArr.comments[i].name}
			//- 		time Time: #{commentArr.comments[i].time}
			//- 	p= commentArr.comments[i].body
			//- 	hr
			//- p.lead Comments
			//- - for (var i = 0; i < comments.length; i++)
			//- 	.comment-info
			//- 		span By: #{comments[i].name}
			//- 		time Time: #{comments[i].time}
			//- 	p= comments[i].body
			//- 	hr